<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Disney World Suite"
       parallel="classes">
    <listeners>
        <listener class-name="util.TestNGExecutionListener"></listener>
    </listeners>
    <test name="Run All Tests in Google Chrome">
        <parameter name="browserName" value="chrome"/>
        <parameter name="browserVersion" value="109.0"/>
        <parameter name="isRemoteEnabled" value="false"/>

        <parameter name="executionType" value="saucelabs"/>
        <parameter name="username" value="TAB_Studio"/>
        <parameter name="accessToken"
                   value="cbdd3dd5-a9f3-409e-8012-8d134c012775"/>
        <parameter name="testname"
                   value=" ProdWebRegressionProfileSpaSuite-1"/>
        <classes>
           <class name="Runnerclasses.Accept"></class>
         <!--<class name="Runnerclasses.Decline"></class>
             <class name="Runnerclasses.Search"></class>
           <class name="Runnerclasses.Remove"></class>
           <class name="Runnerclasses.SearchUnregisteredGuest"></class>
           <class name="Runnerclasses.RemoveName"></class>
           <class name="Runnerclasses.AcceptMultipleUsers"></class>
           <class name="Runnerclasses.InformationDialogBox"></class>
            <class name="Runnerclasses.InviteTwoGuestsResend"></class>
          <class name="Runnerclasses.CheckMutualGuest"></class>
           <class name="Runnerclasses.SentThreeUnregisteredrequest"></class>
          <class name="Runnerclasses.CloseSettings"></class>
          <class name="Runnerclasses.AllowSearching"></class>
           <class name="Runnerclasses.DeclineMultipleUsers"></class>
            <class name="Runnerclasses.RemoveMultipleUsers"></class>
            <class name="Runnerclasses.AllowToviewYourPlans"></class>
          <class name="Runnerclasses.CreateProfileYouManage"></class>
           <class name="Runnerclasses.ViewDisneyPassPhotos"></class>
            <class name="Runnerclasses.ConnectMyManagedAccount"></class>
            <class name="Runnerclasses.LikeSettings"></class>
           <class name="Runnerclasses.InviteTwoGuests"></class>-->
        </classes>
    </test>
</suite>
